// .btn {
//   padding: 10px 20px;
//   background-color: #fff;
//   border-radius: 100px;
//   border: none;
// }

#btn-add-event {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 36px;
  right: 5%;
  top: -70px;
  border-radius: 50%;
  font-size: 36px;
  color: #fcfcfc;
  background-color: #c9302c;
}

.btn-round {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0px;
  i {
    line-height: 40px;
  }
}
