// .btn {
//   padding: 10px 20px;
//   background-color: #fff;
//   border-radius: 100px;
//   border: none;
// }

#btn-add-event {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 36px;
  right: 5%;
  top: -70px;
  border-radius: 50%;
  font-size: 36px;
  border: 1px solid #333;
  color: #fcfcfc;
  background-color: #336699;
}
